body {
    font-family: 'Poppins', sans-serif;  
    margin: 0;;
}
.headingweight {
    font-size: 50px;
}
.newsite {
    color: orange;
}
.mysite {
    display: flex;
}
.link-button {
    color: white;
    font-weight: 700;
    padding: 5px 10px;
    text-decoration: none;
    background-image: linear-gradient(orange, rgb(123, 54, 250));
}
.width-half {
    width: 50%;
    margin-left: 50px;
    margin-bottom: 50px;
}
.width-half img {
    width: 80%;
    padding-left: 20px;
    padding-top: 20px;
}
.mysite {
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
}
.mysite-no2 {
    display: flex;
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.mysite3 {
    margin-right: 90px;
}
.mysite4 {
    display: flex;
    margin-bottom: 100px;
}
.experience-area {
    width: 50%;
}
.orange-color {
    color: orange;
}
.experience-area {
        width: 50%;
        margin-right: 5%;
        margin-left: 5%;
        padding: 20px;
        box-shadow: 5px 5px 10px grey;

}
#web-dev-experience1 {
    border-left: 5px solid ;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
#web-dev-experience {
    border-left: 5px solid ;
    border-image: linear-gradient(rgb(255, 41, 4), orange);
    border-image-slice: 1;
}
footer p {
    text-align: center;
}