body {
    font-family: 'Poppins', sans-serif;  
    margin: 0;
}
h1 {
    font-size: 50px;
}
.orange-color {
    color: orange;
}
.section {
    display: flex;
    margin-bottom: 100px;
}
.flexible-container {
    display: flex;
    margin-bottom: 100px;
}
.half-width {
    width: 50%;
    padding-left: 5%;

}    
.half-width img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 5px;
}
.top-banner {
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
}
.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.half-width1 {
    width: 50%;
    padding-left: 5%;
    margin-right: 55px;

}   
.experience {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
} 
.experience-item {
    width: 50%;
    margin-right: 5%;
    margin-left: 5%;
    padding: 20px;
    box-shadow: 5px 5px 10px grey;
    
}
#web-dev-experience {
    border-left: 5px solid ;
    border-image: linear-gradient(rgb(255, 41, 4), orange);
    border-image-slice: 1;
}
#web-dev-experience1 {
    border-left: 5px solid ;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
footer p {
    text-align: center;
}